# Игнорировать папку .vs (конфиги Visual Studio)
.vs/

# Игнорировать пользовательские настройки VS
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорировать результаты сборки
bin/
obj/

# Игнорировать файлы Rider
.idea/
*.sln.iml

# Игнорировать временные файлы
*.swp
*.cache
*.log
*.tmp